#
# Ignored sublime Text files
#

*.sublime-workspace

#
# Ignored Quartus files and folders
#

output_files/
db/
incremental_db/
greybox_tmp/
*.qws
*.done
*.flow.rpt
*.map.rpt
*.map.summary
PLLJ_PLLSPE_INFO.txt
*pin_model_dump.txt
*.asm.rpt
*.fit.rpt
*.fit.smsg
*.fit.summary
*.jdi
*.map.smsg
*.pin
*.sld
*.sof
*.sta.rpt
*.sta.summary
*.merge.rpt
*.merge.summary
new_rtl_netlist
old_rtl_netlist
*.ppf
*.xml
*.ddb
*.bak

# QSys

*.tcl~
.qsys_edit/
*.sopcinfo
*.cmp
*.html
*.rpt

# Quartus Makefile
.qsys_out
*.chg
smart.log

#
# Ignored Modelsim files and folders
#

work/
hdl_lib/
libraries/
.deps/
.run.tcl
vsim.wlf
modelsim.ini
transcript
*_bb.v
*_inst.v
*_syn.v
*.dll
DPI-C.h
_info

*.wlf
*.vstf
wlft*
